/* Footer */

.footer {
    background-color: var(--main-color);
    color: white;
}

@media (width <= 768px) {
    .footer {
        margin-top: 20px;
        padding: 20px 16px 0 16px;
    }
}

@media (width >= 768px) {
    .footer {
        margin-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* Container */

/* .footer_container{
    max-width: 1024px;
} */

/* Inner Container */

.footer_inner {
    display: grid;
}

@media (width <= 500px) {
    .footer_inner {
        row-gap: 20px;
        padding-bottom: 15px;
    }
}

@media (width >= 500px) {
    .footer_inner {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }
}

@media (width >= 768px) {
    .footer_inner {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: space-between;
        padding: 20px 0;
    }
}

/* Title */

.footer_title {
    margin-bottom: 10px;
}

@media (width <= 768px) {
    .footer_title {
        margin-bottom: 0;
    }
}

/* Info */

.footer_info {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
}

@media (width <= 768px) {
    .footer_info {
        row-gap: 20px;
    }
}

/* List */

.footer_info_list {
    display: grid;
    row-gap: 5px;
}

/* Item */

/* .footer_info_item {
    margin-bottom: 10px;
}

@media (width <= 768px) {
    .footer_info_item {
        margin-bottom: 10px;
    }
} */

/* Contacts */

@media (width <= 500px) {
    .footer_contacts{
        display: grid;
        row-gap: 20px;
        justify-content: start;
    }
}

@media (width >= 500px) {
    .footer_contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/-1;
        padding-bottom: 20px;
    }
}

@media (width >= 768px) {
    .footer_contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: unset;
        padding-bottom: 0;
    }
}



/* Socials */

.footer_socials_list{
    display: flex;
    align-items: center;
}




.footer_socials_item {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.footer_socials_link {
    width: 32px;
    height: 32px;
    display: block;
}

/* Messengers */


/* Copy */

.footer_copy {
    padding: 5px 0;
    border-top: 1px solid white;
}
