/* Services */

@media (width >= 736px) {
    .services {
        /* padding-left: 20px;
        padding-right: 20px; */
    }
}

/* Title */

@media (width <= 736px) {
    .services_title {
        background-color: var(--main-color);
        text-align: center;
        line-height: 1.5;
        color: white;
        padding: 15px 0;
        margin-bottom: 20px;
    }
}

@media (width >= 736px) {
    .services_title {
        background-color: var(--main-color);
        text-align: center;
        font-size: 25px;
        line-height: 1.5;
        color: white;
        padding: 15px 0;
        margin-bottom: 20px;
    }
}

/* List */



@media (width <= 736px) {
    .services_list {
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width >= 736px) {
    .services_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 20px;
    }
}

@media (width >= 1000px) {
    .services_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

/* Item */

@media (width <= 736px) {
    .services_item {
        display: block;
        position: relative;
        border-radius: 10px;
    }
}

@media (width >= 736px) {
    .services_item {
        display: grid;
        min-height: 220px;
        /* grid-template-rows: 300px; */
        background-color: var(--light-beige);
        box-shadow: 0 3px 6px var(--main-color-10a);
        row-gap: 30px;
        position: relative;
        border-radius: 10px;
    }
}

@media (width >= 1000px) {
    .services_item {
        display: grid;
        min-height: 300px;
        /* grid-template-rows: 300px; */
        background-color: var(--light-beige);
        box-shadow: 0 3px 6px var(--main-color-10a);
        row-gap: 30px;
        position: relative;
        border-radius: 10px;
    }
}

@media (width >= 1300px) {
    .services_item {
        min-height: 400px;
    }
}

/* Image */

.services_img {
    display: block;
    position: relative;
    border-radius: 10px;
}

.services_image {
    border-radius: 10px;
}

@media (width <= 736px) {
    .services_img {
        height: 100px;
    }


}

/* @media (width >= 736px) {

    .services_img::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.7;
        transition: all 1s;
        border-radius: 10px;
    }

    .services_item:hover .services_img::before  {
        background: linear-gradient(180deg, transparent 10%, var(--main-color-10a) 50%, var(--main-color));
    }

    .services_image {
        border-radius: 10px;
    }
} */

@media (width >= 736px) {
    .services_img {

    }
}


/* Text */

/* .services_text {
    cursor: pointer;
} */

@media (width <= 736px) {
    .services_text {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        color: var(--main-color);
        background-color: white;
        font-size: 14px;
        border: 1px solid var(--main-color);
        border-radius: 10px;
        padding: 5px 0px;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        transition: all 0.5s;
        line-height: 1.2;
    }
}

@media (width >= 736px) {
    .services_text {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        color: var(--main-color);
        background-color: white;
        font-size: 20px;
        border: 1px solid var(--main-color);
        border-radius: 10px;
        padding: 15px 25px;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        transition: all 0.5s, background-color 0.5s 0.3s;
        line-height: 1.2;
    }
}

@media (width >= 736px) {

    .services_item:hover .services_text {
        border: none;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 70%;
        top: 0;
        transform: translateX(-50%);
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: var(--main-color);
        color: white;
        font-size: 23px;
        padding: 0 5px;
    }

    .services_text:hover {
        /* color: white;
        background-color: var(--coral);
        border: 1px solid white; */
    }
}

/* Link */

@media (width <= 736px) {
    .services_link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        opacity: 0;
    }
}

@media (width >= 736px) {
    .services_link {
        position: absolute;
        display: none;
        cursor: pointer;
        text-decoration: underline;
        width: 100%;
        text-align: center;
        color: white;
        opacity: 0;
        transition: all 1s;
    }

    .services_link::after {
        content: '>';
        padding-left: 5px;
    }

    .services_item:hover .services_link {
        display: block;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -10px;
        opacity: 1;
    }
}

@media (width >= 736px) {
    .services_item:hover .services_link {
        margin-top: 5px;
    }
}

/* Buttons */

@media (width <= 736px) {
    .services_btn {
        display: none;
    }
}

@media (width >= 736px) {
    .services_btn {
        border-top: 1px solid white;
        background-color: var(--coral);
        color: white;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        z-index: 3;
        font-size: 18px;
        opacity: 0;
        transition: all 0.5s;
        width: 100%;
        border: none;
        height: 30%;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .services_item:hover .services_btn {
        bottom: 0;
        opacity: 1;
    }

    .services_btn:hover {
        color: white;
    }
}

@media (width >= 1000px) {
    .services_btn {
        font-size: 25px;
    }

    .services_item:hover .services_btn {
        bottom: 0;
        opacity: 1;

    }
}
